{
	# see https://github.com/mholt/caddy-ratelimit#caddyfile-config
    order rate_limit before reverse_proxy
}

localhost {

    @limited {
        method POST
    }

    handle @limited {
        rate_limit {remote.ip} 2r/m 1000
        reverse_proxy h2c://transfer:5000
    }

    handle {
        reverse_proxy h2c://transfer:5000
    }

    @compress_exts {
        not path *.gif *.jpg *.png
    }

    encode @compress_exts gzip zstd
}
